<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./up_comp.css" >
  <title>File Uploading Complete</title>
</head>
<body>
  <header>
    <h1><div id="title" align="center"><font color="#ffffff">写真の投稿が完了しました<br>
      擬似窓用タブレットから表示できます</font></div></h1>
  </header>
  <!-- <p><select a file a upload:</p> -->
  <div class="album"><img src="./material/album.png" height="400" id="file" /></div>
  <div class="takephoto"><img src="./material/takephoto.jpg" height="400" id="file" /></div>
  <br>
  <button type="button" onclick="location.href='./ui.html'">写真投稿画面に戻る</button>
</body>
</html>
